.navcap {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 60px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.63);
}

.navcap ul{
    list-style: none;
    display: flex;
    margin-left: 40%;
    margin-top: 1%
}

.textuu{
    width: 13%;
}

.setal{
    width: 6%;
}

.navcap h5{
    color: #fff;
    margin-top: -1%;
}

.pages{
    position: relative;
    margin-top: 13%;
    margin-left: 32%;
    width: 50%;
}

.pages uL{
    list-style: none;
}

.pupu ul{
    list-style: none;
}

.pupu img{
    width: 590px;
}


@media only screen and (max-width:1200px){
    .pages{
        margin-left: 22%;
        margin-top: 24%;
    }
}

@media only screen and (max-width:900px){
    .pages{
        margin-left: 10%;
    }
}

@media only screen and (max-width: 800px){
    .pages{
        margin-left: 11%;
    }
    
    .pages img{
        width: 500px;
    }
    
    .pupu img{
        width: 500px;
    }
    .navcap ul{
        margin-left: 28%;
    }
    
    .setal{
        width: 10%;
        margin-top: 5%;
    }

    .textuu{
        width: 30%;
        margin-top: 5%;
    }
    
    .setar{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 700px){
    .pages{
        margin-left: 21%;
        margin-top: 40%;
    }
    
    .pages img{
        width: 300px;
    }
    
    .pupu img{
        width: 300px;
    }
}


@media only screen and (max-width: 600px){
    .pages{
        margin-left: 16%;
    }
}

@media only screen and (max-width: 500px){
    .pages{
        margin-left: 11%;
        margin-top: 34%;
    }
    
    .setal{
        margin-top: 10%;
    }

    .textuu{
        width: 36%;
        margin-top: 10%;
    }
    
    .setar{
        margin-top: 10%;
    }

    .navcap ul{
        margin-left: 16%;
    }
}


@media only screen and (max-width: 450px){
    .pages{
        margin-left: 4%;
    }
}