.navcaps {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 80px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.63);
}

.navcaps ul{
    list-style: none;
    display: flex;
    margin-left: 40%;
    margin-top: 1%
}

.textuus{
    width: 13%;
}

.setals{
    width: 6%;
}

.navcaps h5{
    color: #fff;
    margin-top: -1%;
}


.pagess{
    position: relative;
    margin-top: 13%;
    margin-left: 20%;
    width: 50%;
}

.pagess uL{
    list-style: none;
}

.pupus ul{
    list-style: none;
}

.pupus img{
    width: 1000px;
}

@media only screen and (max-width:1200px){
    .pagess{
        margin-left: 22%;
        margin-top: 24%;
    }
}

@media only screen and (max-width:900px){
    .pagess{
        margin-left: 10%;
    }
}

@media only screen and (max-width: 800px){
    .pagess{
        margin-left: 11%;
    }
    
    .pagess img{
        width: 500px;
    }
    
    .pupus img{
        width: 500px;
    }
    .navcaps ul{
        margin-left: 28%;
    }
    
    .setals{
        width: 10%;
        margin-top: 5%;
    }

    .textuus{
        width: 30%;
        margin-top: 5%;
    }
    
    .setars{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 700px){
    .pagess{
        margin-left: 21%;
        margin-top: 40%;
    }
    
    .pagess img{
        width: 300px;
    }
    
    .pupus img{
        width: 300px;
    }
}


@media only screen and (max-width: 600px){
    .pagess{
        margin-left: 16%;
    }
}

@media only screen and (max-width: 500px){
    .pagess{
        margin-left: 11%;
        margin-top: 34%;
    }
    
    .setals{
        margin-top: 10%;
    }

    .textuus{
        width: 36%;
        margin-top: 10%;
    }
    
    .setars{
        margin-top: 10%;
    }

    .navcaps ul{
        margin-left: 16%;
    }
}


@media only screen and (max-width: 450px){
    .pagess{
        margin-left: 4%;
    }
}