body {
  background-color: #ECE7FE;
  width: 100%;
  font-family: 'Niramit', sans-serif;
  overflow: auto;
}

p {
  font-family: 'Niramit', sans-serif;
  font-size: 12px;

}


h2 {
  font-family: 'Niramit', sans-serif;
  font-size: 20px;
  color: #4C369E;
}