.trending {
    margin: 15%;

}

.trend ul{
    display: flex;
    list-style: none;
}
.trend img{
    width: 191px;
    height: 236px;
    margin: 10px;
    border-radius: 3%;
}

.trend h2{
    margin-top: -40px;
    margin-left: 0px;
}
